<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link type="text/css" href="/public/stylesheets/app.css">
    </head>
        
    <body>
        <div class="ui inverted menu">
          <div class=" compact item">
            <i class = "big compact teal edit icon"></i>
            Blog
          </div>
          <a href="/" class=" red item">
            Home
          </a>
          <a href="/blogs/new" class="item">
            New Post
          </a>
          
          <div class=" right menu">
              <%if(!currentUser){%>
                <div class="item">
                  <a href="/login" class="ui compact inverted button">Log in</a>
                </div>
                <div class="item">
                  <a href="/register" class="ui compact inverted button">Sign Up</a>
                </div>
              <%} else{%>
                <div class="item">
                  <div href="#">Signed in as <%=currentUser.username%> <i class="large teal user circle icon"></i></div>
                </div>

                <div class="item">
                  <a href="/logout" class="ui compact inverted button">Sign out</a>
                </div>
              <%}%>
              </div> 
        </div>
        <% if(success && success.length > 0) {%>
        <div class= "ui container">
          <div class="ui floating green message" ">
            <div class="header">
              <%=success%>
            </div>
          </div>
        </div>
        <%}%>

        <% if(error && error.length > 0) {%>
        <div class= "ui container">
          <div class="ui floating red message" >
            <div class="header">
              <%=error%>
            </div>
          </div>
        </div>
        <%}%>  